@model SEDC.WebApp.ModelDemo.Models.ViewModels.StoreVM

@{
    ViewData["Title"] = "StoreDetails";
}

<h2>StoreDetails</h2>

<div>
    <h4>StoreVM</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Menu)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Menu)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
